<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h1>First name last name:</h1>
        <label>Birth date</label>
        <p>first name</p>
        <label>E-Mail</label>
        <p>first name</p>
        <label>AHV number</label>
        <p>first name</p>
        <label>Personal number</label>
        <p>first name</p>
        <label>Section</label>
        <p>first name</p>
        <label>Job</label>
        <p>first name</p>
    </div>
</body>
</html>